<h1>SparkSession & HDFS</h1>
    In this demo I'm going to use sample CSV file with data about bank loans.<p> 
    I will perform the creation of dataframe from CSV file.<p> 
    Then I will perform various operations on it. As a result I'm going to save the file on HDFS and then retrieve it.
    To begin with I need to import few modules.

In [ ]:
from pyspark import SparkContext
from pyspark.sql import SQLContext,SparkSession
from pyspark.sql.functions import lower, col,trim, udf,struct,isnan,when, lit, avg, sum
from pyspark.sql.types import StructType, StructField, IntegerType, StringType,FloatType,ArrayType,Row
import gc, time , re, os
import pandas as pd
from collections import defaultdict
import numpy as np  
epochNow = int(time.time())

<h3> Session config </h3>

In [ ]:
spark = SparkSession.\
        builder.\
        appName("pyspark-notebook").\
        master("spark://spark-master:7077").\
        config("spark.executor.memory", "512m").\
        getOrCreate()

<h4> Reading source raw CSV file from the URL </h4>

In [ ]:
bank_loanDfPandas = pd.read_csv('https://people.math.sc.edu/Burkardt/datasets/csv/bankloan2.csv')
display(bank_loanDfPandas)

<h2> Rework on column names. Elimination of unwanted characters with
<blockquote>'\s+([a-zA-Z_][a-zA-Z_0-9]*)\s*' regex.</blockquote> <p><p> Turning big case column letters into small case. </h2>

In [ ]:
bank_loanDfSpark=spark.createDataFrame(bank_loanDfPandas)

for each in bank_loanDfSpark.schema.names:
    bank_loanDfSpark = bank_loanDfSpark.withColumnRenamed(each,  re.sub(r'\s+([a-zA-Z_][a-zA-Z_0-9]*)\s*','',each.replace(' ', '').lower()))
for colname in bank_loanDfSpark.columns:
    bank_loanDfSpark = bank_loanDfSpark.withColumn(colname, trim(col(colname)))

<h2> CSV table loaded and prepared for further work as Spark DataFrame</h2>

In [ ]:
bank_loanDfSpark.show()

+---+------+------+-----+---+------------+---------+----+-------+
| id|amount|salary|ratio|age|  occupation| property|type|outcome|
+---+------+------+-----+---+------------+---------+----+-------+
|  1|245100| 66400| 3.69| 44|  industrial|     farm| stb|  repay|
|  2| 90600| 75300|  1.2| 41|  industrial|     farm| stb|  repay|
|  3|195600| 52100| 3.75| 37|  industrial|     farm| ftb|default|
|  4|157800| 67600| 2.33| 44|  industrial|apartment| ftb|  repay|
|  5|150800| 35800| 4.21| 39|professional|apartment| stb|default|
|  6|133000| 45300| 2.94| 29|  industrial|     farm| ftb|default|
|  7|193100| 73200| 2.64| 38|professional|    house| ftb|  repay|
|  8|215000| 77600| 2.77| 17|professional|     farm| ftb|  repay|
|  9| 83000| 62500| 1.33| 30|professional|    house| ftb|  repay|
| 10|186100| 49200| 3.78| 30|  industrial|    house| ftb|default|
| 11|161500| 53300| 3.03| 28|professional|apartment| stb|  repay|
| 12|157400| 63900| 2.46| 30|professional|     farm| stb|  repay|
| 13|210000| 54200| 3.87| 43|professional|apartment| ftb|  repay|
| 14|209700| 53000| 3.96| 39|  industrial|     farm| ftb|default|
| 15|143200| 65300| 2.19| 32|  industrial|apartment| ftb|default|
| 16|203000| 64400| 3.15| 44|  industrial|     farm| ftb|  repay|
| 17|247800| 63800| 3.88| 46|  industrial|    house| stb|  repay|
| 18|162700| 77400|  2.1| 37|professional|    house| ftb|  repay|
| 19|213300| 61100| 3.49| 21|  industrial|apartment| ftb|default|
| 20|284100| 32300|  8.8| 51|  industrial|     farm| ftb|default|
+---+------+------+-----+---+------------+---------+----+-------+
only showing top 20 rows

<h2> Checking schema of a table </h2>

In [ ]:
bank_loanDfSpark.printSchema()

 |-- id: long (nullable = true)
 |-- amount: long (nullable = true)
 |-- salary: long (nullable = true)
 |-- ratio: double (nullable = true)
 |-- age: long (nullable = true)
 |-- occupation: string (nullable = true)
 |-- property: string (nullable = true)
 |-- type: string (nullable = true)
 |-- outcome: string (nullable = true)

<h2>Some sample filtering job. This time we are filtering all records with age equal to '44'.</h2>

In [ ]:
bank_loanDfSpark.filter(col('age') == '44').show()

+---+------+------+-----+---+----------+---------+----+-------+
| id|amount|salary|ratio|age|occupation| property|type|outcome|
+---+------+------+-----+---+----------+---------+----+-------+
|  1|245100| 66400| 3.69| 44|industrial|     farm| stb|  repay|
|  4|157800| 67600| 2.33| 44|industrial|apartment| ftb|  repay|
| 16|203000| 64400| 3.15| 44|industrial|     farm| ftb|  repay|
+---+------+------+-----+---+----------+---------+----+-------+

<h2>Counting average salary with use of of 'avg' aggregation funciton. </h2>

In [ ]:
bank_loanDfSpark.select(avg("salary")).show()

+-----------+
|avg(salary)|
+-----------+
|    59220.0|
+-----------+

<h2> Saving the table on HDFS file system as a parquet table in overwrite mode.</h2>
<h4> Of course in normal scenario we wouldn't allow such small file in target filesystem. Such saving operation exist only as a POC.</h4>

In [ ]:
# Write Dataframe into HDFS
# Repartition it by "Country" column before storing as parquet files in Hadoop
bank_loanDfSpark.write.option("header",True) \
        .mode("overwrite") \
        .parquet("hdfs://hadoop-namenode:9000/salaries/{}_{}.parquet".format('bank_loan',epochNow))
print("Sales Dataframe stored in Hadoop.")

<h2> Loading the parquet table stored on HDFS file system</h2>

In [ ]:
# Read from HDFS to confirm it was successfully stored
df_load = spark.read.parquet("hdfs://hadoop-namenode:9000/salaries/{}_{}.parquet".format('bank_loan',epochNow))
print("Sales Dataframe read from Hadoop : ")
df_load.show()

+---+------+------+-----+---+------------+---------+----+-------+
| id|amount|salary|ratio|age|  occupation| property|type|outcome|
+---+------+------+-----+---+------------+---------+----+-------+
| 13|210000| 54200| 3.87| 43|professional|apartment| ftb|  repay|
| 14|209700| 53000| 3.96| 39|  industrial|     farm| ftb|default|
| 15|143200| 65300| 2.19| 32|  industrial|apartment| ftb|default|
| 16|203000| 64400| 3.15| 44|  industrial|     farm| ftb|  repay|
| 17|247800| 63800| 3.88| 46|  industrial|    house| stb|  repay|
| 18|162700| 77400|  2.1| 37|professional|    house| ftb|  repay|
| 19|213300| 61100| 3.49| 21|  industrial|apartment| ftb|default|
| 20|284100| 32300|  8.8| 51|  industrial|     farm| ftb|default|
| 21|154000| 48900| 3.15| 49|professional|    house| stb|  repay|
| 22|112800| 79700| 1.42| 41|professional|    house| ftb|  repay|
| 23|252000| 59700| 4.22| 27|professional|    house| stb|default|
| 24|175200| 39900| 4.39| 37|professional|apartment| stb|default|
| 25|149700| 58600| 2.55| 35|  industrial|     farm| stb|default|
|  1|245100| 66400| 3.69| 44|  industrial|     farm| stb|  repay|
|  2| 90600| 75300|  1.2| 41|  industrial|     farm| stb|  repay|
|  3|195600| 52100| 3.75| 37|  industrial|     farm| ftb|default|
|  4|157800| 67600| 2.33| 44|  industrial|apartment| ftb|  repay|
|  5|150800| 35800| 4.21| 39|professional|apartment| stb|default|
|  6|133000| 45300| 2.94| 29|  industrial|     farm| ftb|default|
|  7|193100| 73200| 2.64| 38|professional|    house| ftb|  repay|
+---+------+------+-----+---+------------+---------+----+-------+
only showing top 20 rows

<h2> Summing up all loans from table. With help of 'sum' function. </h2>

In [ ]:
df_load.select(sum("amount").alias("all_loans_summed_up")).show()

+-------------------+
|all_loans_summed_up|
+-------------------+
|            4486500|
+-------------------+

<h2> Now let's sort the records by the 'age' value in descending order</h2>

In [ ]:
bank_loanDfSpark.orderBy(col("age").desc()).show(truncate=False)

+---+------+------+-----+---+------------+---------+----+-------+
|id |amount|salary|ratio|age|occupation  |property |type|outcome|
+---+------+------+-----+---+------------+---------+----+-------+
|20 |284100|32300 |8.8  |51 |industrial  |farm     |ftb |default|
|21 |154000|48900 |3.15 |49 |professional|house    |stb |repay  |
|17 |247800|63800 |3.88 |46 |industrial  |house    |stb |repay  |
|4  |157800|67600 |2.33 |44 |industrial  |apartment|ftb |repay  |
|16 |203000|64400 |3.15 |44 |industrial  |farm     |ftb |repay  |
|1  |245100|66400 |3.69 |44 |industrial  |farm     |stb |repay  |
|13 |210000|54200 |3.87 |43 |professional|apartment|ftb |repay  |
|22 |112800|79700 |1.42 |41 |professional|house    |ftb |repay  |
|2  |90600 |75300 |1.2  |41 |industrial  |farm     |stb |repay  |
|5  |150800|35800 |4.21 |39 |professional|apartment|stb |default|
|14 |209700|53000 |3.96 |39 |industrial  |farm     |ftb |default|
|7  |193100|73200 |2.64 |38 |professional|house    |ftb |repay  |
|3  |195600|52100 |3.75 |37 |industrial  |farm     |ftb |default|
|18 |162700|77400 |2.1  |37 |professional|house    |ftb |repay  |
|24 |175200|39900 |4.39 |37 |professional|apartment|stb |default|
|25 |149700|58600 |2.55 |35 |industrial  |farm     |stb |default|
|15 |143200|65300 |2.19 |32 |industrial  |apartment|ftb |default|
|12 |157400|63900 |2.46 |30 |professional|farm     |stb |repay  |
|9  |83000 |62500 |1.33 |30 |professional|house    |ftb |repay  |
|10 |186100|49200 |3.78 |30 |industrial  |house    |ftb |default|
+---+------+------+-----+---+------------+---------+----+-------+
only showing top 20 rows

<h2>Let's do some quick example of an union operation. First we filter one dataframe with property column value equal to 'farm'. Then a second one this time with 'apartment' value. Then with help of union() we may get the desired result</h2>

In [ ]:
df_property_farm = bank_loanDfSpark.filter(col('property') == 'farm')
df_property_farm.show()

+---+------+------+-----+---+------------+--------+----+-------+
| id|amount|salary|ratio|age|  occupation|property|type|outcome|
+---+------+------+-----+---+------------+--------+----+-------+
|  1|245100| 66400| 3.69| 44|  industrial|    farm| stb|  repay|
|  2| 90600| 75300|  1.2| 41|  industrial|    farm| stb|  repay|
|  3|195600| 52100| 3.75| 37|  industrial|    farm| ftb|default|
|  6|133000| 45300| 2.94| 29|  industrial|    farm| ftb|default|
|  8|215000| 77600| 2.77| 17|professional|    farm| ftb|  repay|
| 12|157400| 63900| 2.46| 30|professional|    farm| stb|  repay|
| 14|209700| 53000| 3.96| 39|  industrial|    farm| ftb|default|
| 16|203000| 64400| 3.15| 44|  industrial|    farm| ftb|  repay|
| 20|284100| 32300|  8.8| 51|  industrial|    farm| ftb|default|
| 25|149700| 58600| 2.55| 35|  industrial|    farm| stb|default|
+---+------+------+-----+---+------------+--------+----+-------+

In [ ]:
df_property_apartment= bank_loanDfSpark.filter(col('property') == 'apartment')
df_property_apartment.show()

+---+------+------+-----+---+------------+---------+----+-------+
| id|amount|salary|ratio|age|  occupation| property|type|outcome|
+---+------+------+-----+---+------------+---------+----+-------+
|  4|157800| 67600| 2.33| 44|  industrial|apartment| ftb|  repay|
|  5|150800| 35800| 4.21| 39|professional|apartment| stb|default|
| 11|161500| 53300| 3.03| 28|professional|apartment| stb|  repay|
| 13|210000| 54200| 3.87| 43|professional|apartment| ftb|  repay|
| 15|143200| 65300| 2.19| 32|  industrial|apartment| ftb|default|
| 19|213300| 61100| 3.49| 21|  industrial|apartment| ftb|default|
| 24|175200| 39900| 4.39| 37|professional|apartment| stb|default|
+---+------+------+-----+---+------------+---------+----+-------+

In [ ]:
df_union = df_property_farm.union(df_property_apartment)
df_union.show()

+---+------+------+-----+---+------------+---------+----+-------+
| id|amount|salary|ratio|age|  occupation| property|type|outcome|
+---+------+------+-----+---+------------+---------+----+-------+
|  1|245100| 66400| 3.69| 44|  industrial|     farm| stb|  repay|
|  2| 90600| 75300|  1.2| 41|  industrial|     farm| stb|  repay|
|  3|195600| 52100| 3.75| 37|  industrial|     farm| ftb|default|
|  6|133000| 45300| 2.94| 29|  industrial|     farm| ftb|default|
|  8|215000| 77600| 2.77| 17|professional|     farm| ftb|  repay|
| 12|157400| 63900| 2.46| 30|professional|     farm| stb|  repay|
| 14|209700| 53000| 3.96| 39|  industrial|     farm| ftb|default|
| 16|203000| 64400| 3.15| 44|  industrial|     farm| ftb|  repay|
| 20|284100| 32300|  8.8| 51|  industrial|     farm| ftb|default|
| 25|149700| 58600| 2.55| 35|  industrial|     farm| stb|default|
|  4|157800| 67600| 2.33| 44|  industrial|apartment| ftb|  repay|
|  5|150800| 35800| 4.21| 39|professional|apartment| stb|default|
| 11|161500| 53300| 3.03| 28|professional|apartment| stb|  repay|
| 13|210000| 54200| 3.87| 43|professional|apartment| ftb|  repay|
| 15|143200| 65300| 2.19| 32|  industrial|apartment| ftb|default|
| 19|213300| 61100| 3.49| 21|  industrial|apartment| ftb|default|
| 24|175200| 39900| 4.39| 37|professional|apartment| stb|default|
+---+------+------+-----+---+------------+---------+----+-------+

<h2> Now let's proceed to present the result of join operation. First we need to select 1st dataframe. We select 'id, amount, ratio and age' columns </h2>

In [ ]:
df_select_1 = bank_loanDfSpark.select(col("id"), col("amount"), col("ratio"), col("age"))
df_select_1.show()

+---+------+-----+---+
| id|amount|ratio|age|
+---+------+-----+---+
|  1|245100| 3.69| 44|
|  2| 90600|  1.2| 41|
|  3|195600| 3.75| 37|
|  4|157800| 2.33| 44|
|  5|150800| 4.21| 39|
|  6|133000| 2.94| 29|
|  7|193100| 2.64| 38|
|  8|215000| 2.77| 17|
|  9| 83000| 1.33| 30|
| 10|186100| 3.78| 30|
| 11|161500| 3.03| 28|
| 12|157400| 2.46| 30|
| 13|210000| 3.87| 43|
| 14|209700| 3.96| 39|
| 15|143200| 2.19| 32|
| 16|203000| 3.15| 44|
| 17|247800| 3.88| 46|
| 18|162700|  2.1| 37|
| 19|213300| 3.49| 21|
| 20|284100|  8.8| 51|
+---+------+-----+---+
only showing top 20 rows

<h2> Second we need to select 2nd dataframe. We select 'id, occupation, property and outcome' columns </h2>

In [ ]:
df_select_2 = bank_loanDfSpark.select(col("id"), col("occupation"), col("property"), col('outcome'))
df_select_2.show()

+---+------------+---------+-------+
| id|  occupation| property|outcome|
+---+------------+---------+-------+
|  1|  industrial|     farm|  repay|
|  2|  industrial|     farm|  repay|
|  3|  industrial|     farm|default|
|  4|  industrial|apartment|  repay|
|  5|professional|apartment|default|
|  6|  industrial|     farm|default|
|  7|professional|    house|  repay|
|  8|professional|     farm|  repay|
|  9|professional|    house|  repay|
| 10|  industrial|    house|default|
| 11|professional|apartment|  repay|
| 12|professional|     farm|  repay|
| 13|professional|apartment|  repay|
| 14|  industrial|     farm|default|
| 15|  industrial|apartment|default|
| 16|  industrial|     farm|  repay|
| 17|  industrial|    house|  repay|
| 18|professional|    house|  repay|
| 19|  industrial|apartment|default|
| 20|  industrial|     farm|default|
+---+------------+---------+-------+
only showing top 20 rows

<h2> Now we may see the result of inner join operation on 'id' column. </h2>

In [ ]:
result_of_join_df = df_select_1.join(df_select_2, df_select_1.id ==  df_select_2.id, "inner") \
     .show(truncate=False)

+---+------+-----+---+---+------------+---------+-------+
|id |amount|ratio|age|id |occupation  |property |outcome|
+---+------+-----+---+---+------------+---------+-------+
|7  |193100|2.64 |38 |7  |professional|house    |repay  |
|15 |143200|2.19 |32 |15 |industrial  |apartment|default|
|11 |161500|3.03 |28 |11 |professional|apartment|repay  |
|3  |195600|3.75 |37 |3  |industrial  |farm     |default|
|8  |215000|2.77 |17 |8  |professional|farm     |repay  |
|22 |112800|1.42 |41 |22 |professional|house    |repay  |
|16 |203000|3.15 |44 |16 |industrial  |farm     |repay  |
|5  |150800|4.21 |39 |5  |professional|apartment|default|
|18 |162700|2.1  |37 |18 |professional|house    |repay  |
|17 |247800|3.88 |46 |17 |industrial  |house    |repay  |
|6  |133000|2.94 |29 |6  |industrial  |farm     |default|
|19 |213300|3.49 |21 |19 |industrial  |apartment|default|
|23 |252000|4.22 |27 |23 |professional|house    |default|
|25 |149700|2.55 |35 |25 |industrial  |farm     |default|
|24 |175200|4.39 |37 |24 |professional|apartment|default|
|9  |83000 |1.33 |30 |9  |professional|house    |repay  |
|1  |245100|3.69 |44 |1  |industrial  |farm     |repay  |
|20 |284100|8.8  |51 |20 |industrial  |farm     |default|
|10 |186100|3.78 |30 |10 |industrial  |house    |default|
|4  |157800|2.33 |44 |4  |industrial  |apartment|repay  |
+---+------+-----+---+---+------------+---------+-------+